@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------HOME-PAGE---------- */
body {
    background-image: url(assets/gamebg.png);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vw;
}

.container {
    background: url(assets/indexbg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: white;
    padding: 3%;
    background-color: white;
}

#biglogo {
    width: 22%;
    border-radius: 20%;
    opacity: 0.9;
}

.info {
    position: absolute;
    display: grid;
    left: 4%;
    bottom: 8%;
}

label {
    font-size: xx-small;
    font-family: 'Inter';
    font-weight: 800;
}

#infobutton {
    width: 50px;
    padding-left: 8px;
}

#yellowbutton {
    width: 17%;
}

form {
    display: flex;
    position: absolute;
    bottom: 10%;
    right: 4%;
}

#username,
#name {
    color: rgb(255, 255, 255);
    width: 230px;
    height: 30px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: x-large;
    text-decoration: underline;
    background-color: transparent;
}
/* ------------home-responsive-------------------------- */
@media only screen and (max-width: 500px){
    .container{
        height: 100vh;
        box-sizing: border-box;
        background-image: url(assets/1699274240539.jpg);
    }
    body{
        background-image: none;
        background-color: #630001;
        width: auto;
        height: auto;
    }
    form{
        position: absolute;
        transform: translate(0%, 0%)scale(0.7);
        bottom: 40px;
        right:-90px;
    }
    form input,#infobutton{
        transform: translate(0%, 0%)scale(0.8);
    }
    label{
        transform: translate(0%, 0%)scale(0.87);
    }
    #biglogo{
        transform: translate(0%, 0%)scale(1.6);
        position: absolute;
        top: 40px;
        right: 50px;
    }
    
}

/* --------------popup------------------ */
.popup {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(240, 248, 255, 0.603);
    top: 0;
    visibility: hidden;
}

.bigb {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 180px;
    width: 85%;
    height: 90%;
    top: 40px;
}

.box1,
.box2 {
    text-align: center;
    width: 500px;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    margin: 50px 50px;
    border-radius: 30px;
    padding: 20px;
    transform: translate(0%, 0%)scale(0.1);
    transition: transform 0.4s, top 0.4s;
}

.leftarrow {
    position: absolute;
    bottom: 40px;
    left: 50px;
    transform: translate(0%, 0%)scale(0.1);
    transition: transform 0.4s, top 0.4s;
    z-index: 10;
}

.popup h1 {
    font-size: xx-large;
}

.popup h2 {
    font-size: larger;
    margin-top: 90px;
}

.leftarrow img {
    width: 70px;
    border: solid black 5px;
    border-radius: 20px;
    background-color: black;
    cursor: pointer;
}

.openpopup {
    visibility: visible;
}

.openbox1,
.openbox2 {
    transform: translate(0%, 0%)scale(1);
}

.openleftarrow {
    transform: translate(0%, 0%)scale(1);
    bottom: 90px;
    left: 100px;
}
/* --------popup-responsive--------------- */
@media only screen and (max-width: 500px){
    .bigb{
        transform:scale(.6);
        width: 60vw;
    }
    .bigb h2{
        font-size: large;
        margin-top: 0px;
    }
    .box1,.box2{
        height: auto;
    }
    .leftarrow{
        position: absolute;
        top: 0px;
        left: 10px;
        transform:scale(.7);
    }
}
/* ----------gameplay-------------- */
.container2 {
    background-size: cover;
    height: 100vh;
    color: white;
    padding: 1%;
    z-index: -100;
}

.logo {
    position: absolute;
    width: 120px;
    right: 50px;
    top: 30px;
    opacity: .89;
}

p {
    font-size: 35px;
    margin: 30px 0 0 40px;
    font-weight: 550;
}

.car {
    width: 10%;
}

.usercar {
    width: 85px;
}

.insideroad {
    background-image: url(assets/road4.png);
    height: 1900vh;
    width: 52.5vw;
    position: absolute;
    top: 0;
    left: 24.5%;
    z-index: -99;
    animation: road infinite 20s linear;
}

#medical {
    width: 110px;
    transform: rotate(180deg);
    place-items: center;
    position: relative;
    left: 30px;
    z-index: 100;
    animation: medical infinite linear 1.5s;
}

#police {
    width: 65px;
    place-items: center;
    position: relative;
    left: -60px;
    z-index: 100;
    animation: police infinite linear 1.5s;
}

#car6 {
    place-items: center;
    position: relative;
    width: 80px;
    height: 150px;
    left: 160px;
    z-index: 100;
    animation: car6 infinite linear 1.5s;
    transform: rotate(180deg);
}

#car1 {
    animation: car1 infinite linear 3s;
    place-items: center;
    position: relative;
    width: 110px;
    height: 100px;
    left: 310px;
    z-index: 100;
}

#car2 {
    animation: car2 infinite linear 4s;
    place-items: center;
    position: relative;
    width: 110px;
    height: 100px;
    left: 315px;
    z-index: 100;
}

#car3 {
    animation: car3 infinite linear 5s;
    place-items: center;
    position: relative;
    width: 110px;
    height: 100px;
    left: 300px;
    z-index: 100;
}

#car4 {
    animation: car4 infinite linear 2s;
    place-items: center;
    position: relative;
    width: 110px;
    height: 100px;
    left: 350px;
    z-index: 100;
    transform: rotate(180deg);
}

#car5 {
    animation: car5 infinite linear 2.2s;
    place-items: center;
    position: relative;
    width: 110px;
    height: 100px;
    left: 330px;
    z-index: 100;
    transform: rotate(180deg);
}

@keyframes car1 {
    0% {
        top: -30vh;

    }

    100% {
        top: 100vh;
    }
}

@keyframes car2 {
    0% {
        top: -100vh;

    }

    100% {
        top: 100vh;
    }
}

@keyframes car3 {
    0% {
        top: -100vh;

    }

    100% {
        top: 100vh;
    }
}

@keyframes car4 {
    0% {
        top: -50vh;

    }

    100% {
        top: 100vh;
    }
}

@keyframes car5 {
    0% {
        top: -50vh;

    }

    100% {
        top: 150vh;
    }
}

@keyframes car6 {
    0% {
        top: -50vh;

    }

    100% {
        top: 100vh;
    }
}

@keyframes medical {
    0% {
        top: 100vh;

    }

    100% {
        top: -100vh;
    }
}

@keyframes police {
    0% {
        top: 100vh;

    }

    100% {
        top: -280vh;
    }
}

@keyframes road {
    0% {
        top: -1100vh;

    }

    100% {
        top: -200vh;
    }
}

.usercar {
    width: 70px;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 48.5%;
}
/* ----------gameplay-responsive-------------- */
@media only screen and (max-width: 700px){
    .insideroad{
        width: 100%;
        left: 0;
    }
    .logo{
        transform:scale(.8);
        position: absolute;
        right: 0px;
    }
    p{
        transform:scale(.7);
        position: absolute;
        left: -45px;
    }
}

/* --------------gameover---------- */
.container3 {
    background: url(assets/gameoverbg.jpg);
    background-size: cover;
    height: 100vh;
    color: #630001;
    padding: 3%;
    font-family: 'inter';
}

#home {
    width: 80px;
}

#Havean {
    position: absolute;
    top: 40px;
    left: 25%;
}

#playagain {
    position: absolute;
    bottom: 50px;
    width: 250px;
    left: 70%;
}

.score,
.hiscore {
    border: solid white 1px;
    width: 250px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(245, 222, 179, 0.342);
    border-radius: 30px;
    padding: 30px;
}

.whole {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    text-align: center;
    margin-left: 40px;
    top: 35%;
}

h2 {
    color: rgb(25, 5, 61);
    font-size: 40px;
}

h1 {
    font-family: 'hanalei fill';
    font-size: 60px;
    font-weight: bolder;
    color: black;
}
/* ---------------gameover-responsive------------------------- */
@media only screen and (max-width: 700px){
    .whole{
        position: absolute;
        transform:scale(.5);
        border: #630001 solid 1px;
        width: 600px;
        margin-left: -100px;
    }
    .container3 p{
        font-weight: 900;
        margin-right: 20px;
        font-size: x-large;
    }
    #home{
        transform:scale(.7);
    }
    #playagain{
        transform:scale(.7);
        position: absolute;
        bottom: 30px;
        left: 20px;
    }
}
@media only screen and (max-width: 300px){
    .whole{
        transform:scale(.4);
        left:-50px;
    }
}